@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    background-color: black;
}
#navbar{
    margin-top: 20px;
    width: 80vw;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: rgba(207, 233, 254, 0.17);
    border-radius: 20px;
    padding: 0 20px;
}

#navbar h1{
    color: white;
    font-size: 2em;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0 20px;
}
/* Hero */
#hero {
    height: 120vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

#sam2 {
   position: relative;
   top: -30%;
   bottom: 20%;
   left: 61%;
}

#sam111 {
    position: relative;
    top: -74%;
    bottom: 20%;
    left: 40%;  
}

#container h1 {
    width: 70vw;
    height: 30vh;
    left: 5vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    line-height: 100px;
    /* or 104% */
    display: flex;
    align-items: center;
    letter-spacing: -0.96px;
    color: #FFFFFF;
}

#container h3{
    height: 20vh;
    left: 5vh;
    right: 346.69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    color: #8B949E;
}
#container a{
    padding: 10px 20px;
    font-size: 2em;
    text-decoration: none;
    background-color: #30363D;
    color: #FFFFFF;
    border-radius: 20px;
    margin-left: 20%;
}

#line1 {
    position: relative;
    width: 0px;
    height: 10vh;
    top: -30%;
    left: -40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(360deg);
}

#line2{
    margin-left: 10%;
    width: 3px;
    top: 47px;
    bottom: 24px;
    background: linear-gradient(180deg, #56D364 0%, #2EA043 50%, #0D1117 100%);
    border-radius: 6px;
}

#img img{
    width: 24vw; 
    height:32vh;
}

#about{
    display: flex;
}
/* about */
#abou{
    width: 80vw;
    height: 30vh;
    color: white;
    background: #0D1117; 
    margin-left: 20%; 
}
/* About Me */
#abou1 h1{
    left: 50vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    line-height: 28px;
    /* or 58% */
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
    color: #7EE787; 
    margin-left: 20%; 
}
/* Lorem ipsum dolor sit amet. consectetur adipiscing elit. Praesent imperdiet ante tortor, sit amet mollis erat placerat suscipit. Nulla lobortis et libero sit amet congue. */
#abou1 h5 { 
    width: 70vw;
    height: 20vh;
    left: 50vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1em;
    line-height: 52px;
    /* or 162% */
    display: flex;
    align-items: center;
    letter-spacing: -1.44px;
    color: #7EE787;
    margin-left: 20%; 
}
#sample1{

    box-sizing: border-box;
    width: 50vw;
    height: 40vh;
    left: 20%;
    margin-left: 20%;
    background: #161B22;
    border: 1px solid #30363D;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 70px 65px rgba(0, 0, 0, 0.18), 0px 30px 30px rgba(0, 0, 0, 0.14), 0px 15px 15px rgba(0, 0, 0, 0.12), 0px 10px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 50px 20px 50px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    text-align: justify;
    line-height: 32px;
}
/* Frame 1 */
#flame  {
    position: relative;
    width: 45vw;
    height: 50vh;
    left: 47%;
    background: #161B22;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #6E7681;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: -10em;
}
#flame h5{
    width: 40vw;
    text-align: justify;
    margin: 4%;
    height: 338px;
    left: 2vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 32px;
    /* or 133% */
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
#project {
    position: relative;
    margin-top: 10em;
    width: 80vw;
    background: #161B22;
    height: 60vh;
    margin: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border-radius: 20px;  
}
#project h1{
    font-size: 2.4em;
    color: #FFB77C;

}
#project h3{
    width: 70vw;
    height: 30vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFB77C;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#gme{
    justify-content: center;
    /* align-items: center; */
    display: flex;
    height: 80vh;
}
#cont2{
    margin-top: 4%;
    width: 30vw;
    background: #161B22;
    height: 43vh;  
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;  
    border-radius: 20px;  
}

#cont3{
    margin-top: 8%;
    margin-left: 7vh;
    width: 30vw;
    background: #161B22;
    height: 43vh;  
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;  
    text-align: center;
    border-radius: 20px;
  
}
#content{
    margin-top: 10vh;
    width: 30vw;
    background: #161B22;
    height: 80vh;
    margin-left: 4%;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border-radius: 20px; 
}
#content h1, #content2 h1{
    font-size: 2.2em;
    width: 80%;
    color: white;
}
#content p, #content2 p{
    font-size: 1.2em;
    width: 80%;
    color: #8B949E;
}
#content2{
    color: white;
    margin-top: -24vh;
    width: 30vw;
    background: #161B22;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border-radius: 20px; 
}
#img3, #img4{
    place-self: center;
    background-color: #FFB77C;
    margin: 2vh;
    width: 24vw;
    height: 32vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border-radius: 20px;
}
#cont2 a, #cont3 a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}


#contact{
    width: 50vw;
    background: #30363D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact h4{
    font-weight: 400;
    word-spacing: 3px;
    font-size: 1.4em;
}
#link{
    display: flex;
    justify-content: center;
    align-items: center;
}
#link1, #link2, #link3{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2em;
    top: 30%;
    margin-left: 20px;
    color: white;
    margin: 10px;
    border-radius: 40px;
}


#maxcon{
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer{
    margin: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
}
#githubIcon{ 
    color: white;
    left: 40%;
    gap: 20px;
}
#linkedinIcon{
    left: 60%;
    color: white;
}


#githubIcon, #linkedinIcon{ 
    position: absolute;
    cursor: pointer;
    font-size: 2.4em;
    top: 30%;
    color: white;
    margin-top: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


